body {
    justify-content: center;
    text-align: center;
    content-align: center;
    font-family: Gisha;
}

div {
    text-align: center;
}

#headDiv {
    margin-top:1%;
}

#bodyDiv{
    margin-top:5%;
}

#navbar {
    font-weight: bold;
}

.center_item {
    margin-left:40%;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
}

.err {
    font-weight: bold;
    color: red;
}
