{% extends 'base.html' %}

{% block head %}
    <title>What's the rating?</title>
    <style>
    body {
        background-color: #b0ad6d;
    }
    </style>
{% endblock %}

{% block body %}
    <div id="bodyDiv">
        {% with messages = get_flashed_messages() %}
            {% if  messages %}
                {% for msg in messages %}
                    <p class="err">{{msg}}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <p>
            <i>A new improved way to choose how worthy a movie / series is to watch</i>
        </p>
        <b>WITHOUT</b> the hassle of going review after review.

        <form action="#" method="post">
            <div>
                <h4 style="margin-top:5%; font-weight: bold;">Enter a movie title:</h4>
                <p><input style="width:270px;" name="name"></p>
                <p><input type="submit" value="submit" /></p>
            </div>
        </form>
    </div>
{% endblock %}