{% extends 'base.html' %}

{% block head %}
    <title>The Mission</title>
    <link rel="stylesheet" href="static/css/theMissionCSS.css">
{% endblock %}
{% block body %}

<div>
    <div class="left-div">
        <h5 class="titles">The Final Model</h5>
        <a ><img id="img1" src="https://i.ibb.co/1ff6bKr/model-structure.png" alt="model-structure" border="0"></a>
    </div>
    <div class="right-div">
        <h5 class="titles">Confusion Matrix</h5>
        <a><img id="img2" src="https://i.ibb.co/M6Z3MK1/cm.png" alt="cm" border="0"></a>
        <h5 style="margin-top:100px;" class="titles">Accuracy Ratio</h5>
        <a>86%</a>
    </div>

</div>

<!--  <div>-->
<!--    <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">-->
<!--        <div class="carousel-inner">-->

<!--          <div class="carousel-item active">-->
<!--            <h1>-->
<!--              My name is Ori<br>-->
<!--              A graduate of Computer Engineering<br>-->
<!--              How are you?-->
<!--            </h1>-->
<!--          </div>-->

<!--          <div class="carousel-item">-->
<!--            <h1>-->
<!--              Hey <br>-->
<!--              Bye <br>-->
<!--              Dy-->
<!--            </h1>-->
<!--          </div>-->

<!--          <div class="carousel-item">-->
<!--            <h1>-->
<!--              Why <br>-->
<!--              LALA <br>-->
<!--              Dy-->
<!--            </h1>-->
<!--          </div>-->

<!--          <div id="carousel-btns">-->
<!--            <a class="carousel-control-prev" color="red" href="#carouselExampleFade" role="button" data-slide="prev">-->
<!--              <span class="carousel-control-prev-icon" fill='%23fff' aria-hidden="true"></span>-->
<!--              <span class="sr-only">Previous</span>-->
<!--            </a>-->

<!--            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">-->
<!--              <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
<!--              <span class="sr-only">Next</span>-->
<!--            </a>-->
<!--          </div>-->


<!--        </div>-->
<!--    </div>-->
<!--  </div>-->

{% endblock %}
