{% extends 'base.html' %}

{% block head %}
    <title>Who Am I</title>
    <style>
    body {
        background-color: #5292ce;
        color: #e5e3e4;
        font-family: Gisha;
        font-weight: bold;
    }

    p{
        margin: 10px;
    }
    </style>
{% endblock %}

{% block body %}
    <p style="margin-top:150px;">Hey I'm Ori and this is my final project :)</p>
    <p>I've always been fascinated with words, so it felt pretty natural to gravitate towards a project involving text.</p>
    <p>My project aims to use NLP in order to predict a review's sentiment</p>
    <p>And eventually, to look into a different way of looking at reviews rating,</p>
    <p>One that possibly can be harder to fake, and of course, one that's more accurate</p>
    <h4>That way you won't find yourself wasting another hour and a half on a <b>mediocre</b> movie <i>again</i>.</h4>
{% endblock %}
